<%= form_with(model: aya) do |form| %>
  <% if aya.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aya.errors.count, "error") %> prohibited this aya from being saved:</h2>

      <ul>
        <% aya.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
